{% load mptt_tags fiber_tags %}
{% if user.is_staff %}
	{% if fiber_menu_parent_page %}
	<ul data-fiber-data='{"type": "page", "add_url": "{{ Page.get_add_url }}", "parent_id": {{ fiber_menu_parent_page.id }}}'
            class="nav nav-list">
	{% else %}
	<ul class="nav nav-list">
	{% endif %}
	{% recursetree fiber_menu_pages %}
		<li class="{{ node.title|slugify }}{% if node == fiber_current_pages|last %} current active{% endif %}{% if node.is_first_child %} first{% endif %}{% if node.is_last_child %} last{% endif %}{% if not node.show_in_menu %} hidden-in-menu{% endif %}{% if not node.is_public %} not-public{% endif %}{% if node.redirect_page %} redirect{% endif %}">
			<a href="{{ node.get_absolute_url }}" data-fiber-data='{"type": "page", "id": {{ node.id }}, "parent_id": {{ node.parent.id }}, "url": "{{ node.get_change_url }}", "add_url": "{{ Page.get_add_url }}"}'>{{ node.title }}</a>
			{% if children %}
				<ul data-fiber-data='{"type": "page", "add_url": "{{ Page.get_add_url }}", "parent_id": {{ node.id }}}'
                                    class="nav nav-list">
					{{ children }}
				</ul>
			{% endif %}
		</li>
	{% endrecursetree %}
	</ul>
{% else %}
	<ul class="nav nav-list">
	{% recursetree fiber_menu_pages %}
		<li class="{{ node.title|slugify }}{% if node == fiber_current_pages|last %} current active{% endif %}{% if node.is_first_child %} first{% endif %}{% if node.is_last_child %} last{% endif %}">
			<a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
			{% if children %}
				<ul class="nav nav-list">
					{{ children }}
				</ul>
			{% endif %}
		</li>
	{% endrecursetree %}
	</ul>
{% endif %}
